---
import GuestNavigationChunk from '../chunks/shared/GuestNavigationChunk'
import HeroChunk from '../chunks/index-template/HeroChunk'
import IssuesChunk from '../chunks/index-template/IssuesChunk'
import GoalsChunk from '../chunks/index-template/GoalsChunk';
import WhiteBotChunk from '../chunks/index-template/WhiteBotChunk'
import BenefitsChunk from '../chunks/index-template/BenefitsChunk'
import MissionVissionChunk from '../chunks/index-template/MissionVisionChunk'
import JoinUsChunk from '../chunks/index-template/JoinUsChunk'
import FooterChunk from '../chunks/index-template/FooterChunk'
---

<main>
  <GuestNavigationChunk client:load />
  <HeroChunk client:load />
  <IssuesChunk  />
  <GoalsChunk />
  <WhiteBotChunk />
  <BenefitsChunk />
  <MissionVissionChunk />
  <JoinUsChunk />
  <FooterChunk client:load />
</main>
