---
import GuestNavigationChunk from '../chunks/shared/GuestNavigationChunk'
import HeroChunk from '../chunks/index-template/HeroChunk'
import IssuesChunk from '../chunks/index-template/IssuesChunk'
import GoalsChunk from '../chunks/index-template/GoalsChunk';
import MissionVissionChunk from '../chunks/index-template/MissionVisionChunk'
import JoinUsChunk from '../chunks/index-template/JoinUsChunk'
---

<main>
  <GuestNavigationChunk client:load />
  <HeroChunk />
  <IssuesChunk  />
  <GoalsChunk />
  <MissionVissionChunk />
  <JoinUsChunk />
</main>
