---
import GuestNavigationChunk from '../chunks/shared/GuestNavigationChunk'
import HeroChunk from '../chunks/index-template/HeroChunk'
import IssuesChunk from '../chunks/index-template/IssuesChunk'
---

<main>
  <GuestNavigationChunk client:load />
  <HeroChunk client:load />
  <IssuesChunk client:load />
</main>
